.header {
  margin: 15px 0 50px;
  padding: 1em;
  &__logo {
    width: 80px;
    height: 40px;
  }
}

button {
  background:#43BAC0;
  color:#fff;
  border: 1px solid #43BAC0;
  width: 100px;
  height: 30px;
  margin-right: 5px;
  outline: none;
}

button:hover {
  color: #43BAC0;
  background: #fff;
  cursor: pointer;  
}