.divTable {
  display: table;
  width: 100%;
  .divTableHeading {
    display: table-header-group;
  }
  .divTableBody {
    display: table-row-group;
  }
  .divTableRow {
    display: table-row;
    .type {
      width: 50px;
      text-align: center;
      &>span {
        margin: 1px;
      }
    }
    .dateStart {
      min-width: 100px;
    }
  }
  .divTableCell,
  .divTableHead {
    border: 1px solid rgba(55, 53, 47, 0.16);
    box-shadow: #f9f9f9 -2px 2px 0px;
    display: table-cell;
    padding: 10px;
    align-items: center;
    line-height: 120%;
    font-size: 14px;
  }
  .divTableHead{
    color: #868686;
    font-weight: bolder;
  }
}
